<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Apply List</title>
</head>
<body>
<p>Apply List</p>
<div th:insert="~{fragments/header::logout}"></div>
<ol>
<li th:each="record:${records}">
	<p th:text="${record.id}"></p>
	<p th:text="${record.place}"></p>
	<p th:text="${record.applier}"></p>
	<p th:text="${record.state}"></p>
	<a th:href="@{'/record/detail/'+${record.id}}">detail</a>
</li>
</ol>
<script type="text/javascript" src="../static/js/jquery-3.4.0.min.js" th:src="@{/js/jquery-3.4.0.min.js}"></script>
</body>
</html>