<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
    <h2>个人中心</h2>
    <div th:insert="~{fragments/header::logout}"></div>
    <p th:text="${user.username}"></p>
    password <input type="text" th:attr="value=${user.password}" id="password" name="password"/><button onclick="changePassword()"> 修改密码</button>
    tel <input type="text" id="tel" th:attr="value=${user.phonenumber} name="tel"/><button onclick="changeTel()"> 修改电话</button>
<script type="text/javascript" src="../static/js/jquery-3.4.0.min.js" th:src="@{/js/jquery-3.4.0.min.js}"></script>
<script type="text/javascript">
	function changePassword(){
		alert("修改密码");
		var password = $("#password").val();
		var tel = $("#tel").val();
		$.ajax({
			type:'post',
			url:'/user/modify',
			data:{
				"password":password,
				"tel":tel
			},
			contentType: "aplication/json;charset=UTF-8;",
			success:function(res){
				alert('get detail');
			}
		});
	}
	function changeTel(){
		alert("修改电话");
		var password = $("#password").val();
		var tel = $("#tel").val();
		$.ajax({
			type:'post',
			url:'/user/modify',
			data:{
				"password":password,
				"tel":tel
			},
			contentType: "aplication/json;charset=UTF-8;",
			success:function(res){
				alert('get detail');
			}
		});
	}
</script>
</body>
</html>