<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Edit Record</title>
</head>
<body>

 <label for="product">product</label>:
 <input type="text" th:attr="value=${product.id}" id="productid" name="productid"  autofocus="autofocus" readonly /> <br />
 <label for="starttime">StartTime</label>:
 <input type="datetime-local" id="starttime" name="starttime"  value="2015-09-24T13:59:59"/> <br />
 <label for="endtime">EndTime</label>:
 <input type="datetime-local" id="endtime" name="endtime"  value="2015-09-24T13:59:59"/> <br />
 <button onclick="fun()" >Buy</button>
<script type="text/javascript" src="../static/js/jquery-3.4.0.min.js" th:src="@{/js/jquery-3.4.0.min.js}"></script>
<script type="text/javascript">
	function fun(){
		alert("被点击");
		var productid = $("#productid").val();
		var starttime = $("#starttime").val();
		var endtime = $("#endtime").val();
		$.ajax({
			type:'post',
			url:'/record/add',
			data:{
				"productid":productid,
				"starttime":starttime,
				"endtime":endtime
			},
			success:function(res){
				alert('get detail');
				window.location.href = "/pay/index";
			}
		});
	}
</script>
</body>
</html>